.container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  color: white;
}

.meal {
  padding-right: 32px;
}

.meal .name {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #bfbfbf;
  font-size: 1.25rem;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .meal {
    padding: 0;
  }

  .meal .name,
  .meal .description {
    text-align: center;
  }

  .meal .price {
    text-align: right;
    margin-bottom: 0;
  }
}